<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>


    <div class="row">
        <div class="medium-8 columns">
            <h1>Ejs Demo About</h1>
            <img class="thumbnail" src="http://placehold.it/850x350">
            <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec
                congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac
                lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget
                luctus.
            </p>
        </div>
        <div class="medium-3 columns">
            <h4>Categories</h4>
            <ul>
                <li><a href="#">Skyler</a></li>
                <li><a href="#">Jesse</a></li>
                <li><a href="#">Mike</a></li>
                <li><a href="#">Holly</a></li>
            </ul>
            <h4>Authors</h4>
            <ul>
                <li><a href="#">Skyler</a></li>
                <li><a href="#">Jesse</a></li>
                <li><a href="#">Mike</a></li>
                <li><a href="#">Holly</a></li>
            </ul>
        </div>
    </div>


    <footer class="row">
        <div class="medium-8 columns medium-centered text-center">
            <% include ../partials/footer %>
        </div>
    </footer>

</body>

</html>